---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;
$max-content-width: 1200px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$title-color:      #3b5d71;
$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    80%;
$content-width-inverse-factor: 1.2;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;


audio::-webkit-media-controls-panel {
  background-color: $grey-color-light;
}

audio::-webkit-media-controls-play-button {
  background-color: $grey-color-light;
  border-radius: 50%;
}

audio::-webkit-media-controls-play-button:hover {
  background-color: lighten($title-color, 40%);
}

.post-preview {
    direction: rtl;
    padding-bottom: 40px;  
    border: 2px solid $grey-color-light; 
    border-radius: 25px; 
    padding: 15px; 
    margin-bottom: 20px; 
    box-shadow: 3px 5px 5px darken($grey-color-light, 10%);
}

.overview-gallery-title {
    color: $title-color;
    width: 100%; 
    font-weight: 300;
    margin-bottom: 0;
    @media screen and (min-width: $on-palm) {
        height: 1.4em; 
        white-space: nowrap;
        text-overflow: ellipsis; 
        overflow: hidden; 
        }
}

.overview-date-title {
    font-weight: 300; 
    color: $grey-color
}

.overview-text {
    color: black;
}

.gallery-title {
    font-weight: bold;
    margin-bottom: 0;
}

.date-title {
    font-weight: 300; 
    color: $grey-color
}

a.back-to-top {
    color: $grey-color; 
    border: 1px solid $grey-color; 
    padding: 20px; 
    border-radius: 35px; 
    font-weight: 300;
}

a.no-deco:hover {
    text-decoration: none;
}

.row {
    width: 100%;
    display: block;

    // base definition
    .column{
        float:left;
        display: block;
        box-sizing: border-box;
    }
    .full-width {
        @extend .column;
        width:100%;
    }
    .half-width {
        @extend .column;
        @media screen and (min-width: $on-palm) {
            width: 48%;
        }
    }
    .one-third-width {
        @extend .column;
        width: 31.3333333%;
    }
    .one-tenth-width {
        @extend .column;
        width: 10%;
    }
    .nine-tenth-width {
        @extend .column;
        @media screen and (min-width: $on-palm) {
            width: 90%;
        }
    }
    .two-third-width {
        @extend .column;
        @media screen and (min-width: $on-palm) {
            width: 64.6666666%;
        }
    }
    @media screen and (min-width: $on-palm) {
        .left {
            margin-left: 0;
            margin-right: 2%;
        }
        .right {
            margin-left: 2%;
            margin-right: 0;
        }
    }
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}


.banner {
  position: relative;
}

.small-banner {
    display: block;
}

.large-banner {
    display: none;
}

@media screen and (min-width: $on-palm) {
  .small-banner {
    display: none;
  }
  
  .large-banner {
    display: block;
  }
}

.podcast-link {
    height: 40px;
    padding: 8px;
}

// Galleries slideshow

.mySlides {display: none}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 100%;
  width: auto;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: $grey-color;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
