// changes here applied after bootstrap
body {
  font-weight: 300;
	font-size: 20px;
	color: #444;
	text-rendering: optimizelegibility;
}

img {
	max-width: 100%;
}

.container-small {
	max-width: 760px;
	margin: 0 auto;
	padding-right: 1rem;
	padding-left: 1rem;
}


.logo {
	img {
		&:hover {
			filter: hue-rotate(-10deg);
			-webki-filter: hue-rotate(-10deg);
		}
	}
}

nav {
	ul {
		list-style: none;

		li {
			display: inline-block;
		}
	}

	.nav-link {
		transition: all 0.3s ease;
		&:hover {
			opacity: 0.9;
		}
	}
}

h1,h2,h3,h4,h5,h6 {
	font-family: $header-ff;
	font-weight: 900;
}

iframe:not(#formbutton-iframe) {
  width: 100% !important;
  height: 400px !important;
  margin-bottom: 1rem;
  @include media-query($on-palm) {
    height: 220px !important;
  }
}

blockquote {
  border-left: 5px solid $primary;
  padding-left: 1em;
  margin-left: 1em;
  font-style: italic;
  font-size: 1.2em;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Helvetica Neue",Arial,sans-serif;
}

.card {
	overflow: hidden;
}

.site-title h1 {
	font-family: 'Abril Fatface', cursive;
	font-size: 5rem;
	color: $primary;
	&:hover {
		opacity: 0.9
	}

	@include media-query($on-palm) {
		font-size: 3rem;
	}
}

.nostyle {
	text-decoration: none;
	color: inherit;
	&:hover {
		text-decoration: none;
		color: inherit;
	}
}

audio {
	display: none;
}

.audiojs {
	display: flex;
	width: 100%;
	
	.scrubber {
		flex: auto;
		width: auto;
	}

 .play-pause {
		width: 35px;
	}
 
 .progress {
		background: #00F260;
		background: -webkit-gradient( linear, left top, right top, from( #00F260 ), to( #0575E6 ) );
		background: -webkit-linear-gradient( left, #00F260, #0575E6 );
		background: -moz-linear-gradient( left, #00F260, #0575E6 );
		background: -ms-radial-gradient( left, #00F260, #0575E6 );
		background: -o-linear-gradient( left, #00F260, #0575E6 );
		background: linear-gradient( left, #00F260, #0575E6 );
	}
}

.post-index-title {
	a, a:hover {
		text-decoration: none;
	}
}

.post-index-image {
  width: 100%;
  height: 100%;
	object-fit: cover;
	object-position: center;
  border-radius: 0.25rem;
  max-height: 140px;

  @include media-query($on-palm) {
    max-height: 220px;
  }
}

.post-image {
	width: 100%;
  border-radius: 0.25rem;
}

.share-box a {
    color: #828282;
    border-radius: 50%;
    text-decoration: none;
    margin-left: 1em;
}

main {
  text-align: justify;
}

.pagination {
	justify-content: center;
}

.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}

.footer-logo {
  h2 {
    color: #888;
    vertical-align: middle;
  }

  .gray {
    -wekit-filter: grayscale(1);
           filter: grayscale(1);
  }
  &:hover h2 {
    color: $primary;
  }

  &:hover .gray {
      -wekit-filter: grayscale(0);
             filter: grayscale(0);
  }
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #888;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 1px;
}
.site-footer a {
  color: $primary;
  text-decoration: none;
}
.site-footer a:hover {
  color: darken($primary, 10%);
  text-decoration: none;
}
.footer-links {
    padding-left: 0;
    list-style: none;
}
.footer-links li {
    display: block;
}
.footer-links a {
    color: #737373;
    text-decoration: none;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: $primary;
    text-decoration: none;
}
.footer-links.inline li {
    display: inline-block;
}
.site-footer .social-icons {
    text-align: right;
}
.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d;
}
.copyright-text {
    margin: 0;
}
@media (max-width: 991px) {
    .site-footer [class^="col-"] {
        margin-bottom: 30px;
    }
}
@media (max-width: 767px) {
    .site-footer {
        padding-bottom: 0;
    }
    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center;
    }
}
.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.social-icons li {
    display: inline-block;
    margin-bottom: 4px;
}
.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px;
}
.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe;
}
.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px;
}

@media (max-width: 767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600;
    }
}



.green-audio-player {
  width: 100%;
  background: #404040; 
  background-image: -webkit-linear-gradient(#444 0%, #555 50%, #444 51%, #444 100%);
  background-image: -o-linear-gradient(#444 0%, #555 50%, #444 51%, #444 100%);
  background-image: linear-gradient(#444 0%, #555 50%, #444 51%, #444 100%);
}
.green-audio-player .slider, .green-audio-player .slider .gap-progress .pin {
  background: #000;
  background-image: none;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #222), color-stop(0.5, #333), color-stop(0.51, #222), color-stop(1, #222));
  background-image: -moz-linear-gradient(center top, #222 0%, #333 50%, #222 51%, #222 100%);
}

.green-audio-player .controls .controls__slider .controls__progress  {
  background: #00F260;
  background: -webkit-gradient( linear, left top, right top, from( #00F260 ), to( #0575E6 ) );
  background: -webkit-linear-gradient( left, #00F260, #0575E6 );
  background: -moz-linear-gradient( left, #00F260, #0575E6 );
  background: -ms-radial-gradient( left, #00F260, #0575E6 );
  background: -o-linear-gradient( left, #00F260, #0575E6 );
  background: linear-gradient( left, #00F260, #0575E6 );
}

.green-audio-player .slider .gap-progress {
  background: #00F260;
  background: -webkit-gradient( linear, top right, bottom left from( #00F260 ), to( #0575E6 ) );
  background: -webkit-linear-gradient( bottom, #00F260, #0575E6 );
  background: -moz-linear-gradient( bottom, #00F260, #0575E6 );
  background: -ms-radial-gradient( bottom, #00F260, #0575E6 );
  background: -o-linear-gradient( bottom, #00F260, #0575E6 );
  background: linear-gradient( bottom, #00F260, #0575E6 );
}

.green-audio-player .volume .volume__button.open path {
  fill: white;
}

.play-pause-btn__icon, .volume__speaker {
  fill: #ddd;
}

.controls__current-time, .controls__total-time {
  color: #ddd;
}

.controls__slider {
  height: 12px !important;
}

.progress__pin {
  top: -2px !important;
}

.playlist {
  box-shadow: 0 0 25px #00000054;
  .green-audio-player {
    background: transparent;
    border-radius: 0;
    box-shadow: none;
  }
}

#index-player {
  .green-audio-player {
    border-radius: 0;
  }
}



#search-container {
  ::-webkit-input-placeholder {
     text-align: center;
     color: #888;
     font-weight: 300;
  }

  :-moz-placeholder { /* Firefox 18- */
     text-align: center;
     color: #888;
     font-weight: 300;  
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     text-align: center;
     color: #888;
     font-weight: 300;  
  }

  :-ms-input-placeholder {  
     text-align: center;
     color: #888;
     font-weight: 300; 
  }
}

#search-input {
  border-radius: 0;
  border: none;
  border-bottom: 2px solid $primary;
}

.search-result-item {
  list-style: none;
  a {
    display: block;
    padding: 5px 10px;
    border: 1px solid #eee;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      background-color: #eee;
    }
  }

}

.prev-next {
  .page-item {
    width: 100%;
    
    .page-link {
      padding: 1rem;
    }
  }

  .page-item.next {
    text-align: right;
  }
}