---
layout: default
title: בחדרי מאמרים
no_menu_item: true
permalink: /
---

<center><img src="{{ site.url }}{{ site.baseurl }}{{ site.logo }}" width=350></center><br>

<br>

<a id="slideshow_top" name="slideshow_top"></a>
<div class="slideshow-container">
  {% assign max_galleries_in_silde = 8 %}

  {% assign count = 0 %}
  {% assign align = "left" %}
  {% assign gallery_count = 0 %}
  {% for post in site.posts %}
    {% assign mm = gallery_count | modulo: max_galleries_in_silde %}
    {% if mm == 0 %}<div class="mySlides fade">{% endif %}

    {% if count == 0 %}<div class="row" style="direction: rtl;">{% endif %}
      <div class="half-width gallery-preview {{ align }}" style="padding-bottom: 40px; direction: rtl; border: 2px solid #555555; border-radius: 25px; padding: 15px; margin-bottom: 20px;">
        <a class= "no-deco" href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">
        <h1 class="overview-gallery-title">{{ post.title }}</h1>
        <h3 class="overview-date-title" style="color: black; direction: ltr;"><em>{{ post.paper }}</em></h3> 
        <h3 class="overview-date-title">&nbsp;↩&nbsp;{{ post.date | date: "%d-%m-%Y" }}</h3> 
        <p class="overview-text">{{post.content | strip_html | truncate: 210 }}</p>
        <audio controls style="width: 100%">
          <source src="{{site.url}}{{site.baseurl}}/assets/audio/{{post.audio}}" type="audio/mpeg"></audio>
        </audio>
        </a>
      </div>
    {% if count == 1 %}</div>{% endif %}
    {% assign count = count | plus: 1 %}
    {% assign align = "right" %}
    {% if count >= 2 %}
      {% assign align = "left" %}
      {% assign count = 0 %}
    {% endif %}

    {% assign gallery_count = gallery_count | plus: 1 %}
    {% assign mm = gallery_count | modulo: max_galleries_in_silde %}
    {% if mm == 0 %}
      </div>
    {% endif %}
  {% endfor %}

  {% if count == 1 %}</div>{% endif %}
  {% assign mm = gallery_count | modulo: max_galleries_in_silde %}
  {% if mm > 0 %}
    </div>
    {% assign gallery_count = gallery_count | plus: max_galleries_in_silde %}
  {% endif %}
  {% assign num_of_slides = gallery_count | divided_by: max_galleries_in_silde %}

  <a class="prev" onclick="plusSlides(-1)">❮</a>
  <a class="next" onclick="plusSlides(1)">❯</a>
</div>
<br>
<div style="text-align:center">
  {% for g in (1..num_of_slides) %}
  <span class="dot" onclick="currentSlide( {{ g }} )"></span> 
  {% endfor %}
</div>

<script>
  let slideIndex = 1;
  showSlides(slideIndex);

  function plusSlides(n) {
    showSlides(slideIndex += n);
    document.getElementById("slideshow_top").scrollIntoView();
  }

  function currentSlide(n) {
    showSlides(slideIndex = n);
    document.getElementById("slideshow_top").scrollIntoView();
  }

  function showSlides(n) {
    let i;
    let slides = document.getElementsByClassName("mySlides");
    let dots = document.getElementsByClassName("dot");
    if (n > slides.length) {slideIndex = 1}    
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";  
    dots[slideIndex-1].className += " active";
  }
</script>

{% include back-to-top.html %}