<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="mailto:{{ site.ophir_email }}">{{ site.ophir_email }}</a></li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        &nbsp;
      </div>

      <div class="footer-col footer-col-3">
        <ul class="contact-list">
          <li><a class="page-link" href="{{ site.url }}{{ site.baseurl }}/license/">© {{ site.full_name }}</a></li>
        </ul>
      </div>
    </div>

  </div>

</footer>
