<script src="https://formspree.io/js/formbutton-v1.min.js" defer></script>
<script defer>
   window.formbutton=window.formbutton||function(){(formbutton.q=formbutton.q||[]).push(arguments)};
   formbutton("create", {
   	action: "{{site.data.settings.formspree-endpoint}}",
   	styles: {
   		button: {
        background: "{{site.data.settings.primary | remove: "!default"}}"
      },
   		 title: {
        background: "{{site.data.settings.primary | remove: "!default"}}",
      }
   	}
   })
</script>

