<header class="py-2">
  <div class="container-small pt-3 pt-md-4 pt-lg-5">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <div class="logo">
          <a href="{{'/' | relative_url}}">
            <img height="120" src="{{site.logo}}" alt="{{site.title}}" data-aos="fade-up">
          </a>
        </div>
        <div class="site-title pt-2 pt-md-3 pt-lg-4">
          <a class="nostyle" href="{{'/' | relative_url}}">
            <h1 data-aos="fade-up">{{site.title}}</h1>
          </a>
        </div>
        <nav class="navbar navbar-expand-lg pt-1 pt-md-2 pt-lg-3 justify-content-center">
          <ul class="navbar-nav">
            {% for item in site.data.settings.header-menu %}
            <li class="nav-item"><a class="nav-link" href="{{item.link}}">{{item.title}}</a></li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 text-center">
        {% include search-input.html %}
      </div>
    </div>
  </div>
</header>