<!DOCTYPE html>
<html>

  {% include analytics.html %}
  {% include head.html %}
  {% include social.html %}

  <body>

  <center>
    <a href="{{site.url}}{{site.baseurl}}/" title="בחדרי מאמרים">
    <div class="banner">
      <img class="small-banner" src="{{site.url}}{{site.baseurl}}/assets/images/logo.jpg">
      <img class="large-banner" src="{{site.url}}{{site.baseurl}}/assets/images/banner.png" style="width: 85%; max-width: 1800px; padding-top: 15px;">
    </div>
    </a>
  </center>
  <br>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    <script src="{{site.url}}{{site.baseurl}}/assets/js/green-audio-player.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        GreenAudioPlayer.init({
          selector: ".player",
          stopOthersOnPlay: true,
        });
      });
    </script>

    {% include footer.html %}

  </body>

</html>
