<!DOCTYPE html>
<html>

  {% include analytics.html %}
  {% include head.html %}
  {% include social.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    <script src="{{site.url}}{{site.baseurl}}/assets/js/green-audio-player.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        GreenAudioPlayer.init({
          selector: ".player",
          stopOthersOnPlay: true,
        });
      });
    </script>

    {% include footer.html %}

  </body>

</html>
