---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header" style="direction: rtl;">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <h2 class="post-paper" style="direction: ltr;"><em>{{ page.paper }} </em></h2>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%d-%m-%Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody" style="direction: rtl;">
    {{ content }}
  </div>
  <center>
    {% if page.link %}
    <div>
      <a href="{{page.link}}" target="_blank">קישור למאמר</a>
    </div><br>&nbsp;
    {% endif %}
    <audio controls style="width: 90%">
      <source src="{{site.url}}{{site.baseurl}}/assets/audio/{{page.audio}}" type="audio/mpeg"></audio>
    </audio>
  </center>
</article>
